@media only screen and (max-width: 1752px) {
	.portfolio-v1 .wrapper {width: 1284px;}
}
@media only screen and (min-width: 1365px) {
	.portfolioItemV3 {width: 25%!important;}
}
@media only screen and (min-width: 1820px) {
	.portfolioItemV3 {width: 20%!important;}
}
@media only screen and (min-width: 1820px) {
	.portfolioItemV3 {width: 20%!important;}
}
@media only screen and (min-width: 2275px) {
	.portfolioItemV3 {width: 16.6666%!important;}
}
@media only screen and (max-width: 1360px) {
	.homeContactInfoWrap .contactItem {margin: 0 20px!important;}
}
@media only screen and (max-width: 1314px) {
	.portfolio-v1 .wrapper {width: 1223px;}
	.portfolioItemV1 {width: 387.5px;}
}
@media only screen and (max-width: 1263px) {
	.portfolio-v1 .wrapper {width: 1004px;}
	.portfolioItemV1 {width: 314px;}
}
@media only screen and (max-width: 1200px) {
	/* Home */
	body {min-width: 1004px;}
	.wrapper, .ourTeam .wrapper, .ourPartners .wrapper, .portfolio-v1 .wrapper, .ourService .wrapper {width: 1004px;}
	header {padding: 0 20px;}
	footer:not(.comment-meta) {padding: 0 20px;}
	.slideMeta {width: 912px;margin-left: -456px;}
	.slideMeta h3 {line-height: 40px;font-size: 30px;}
	.homeSlider .bx-wrapper .bx-controls-direction a {opacity: 1;}
	.homeSlider .bx-wrapper .bx-controls-direction a.bx-prev {left: 20px;}
	.homeSlider .bx-wrapper .bx-controls-direction a.bx-next {right: 20px;}
	/* About */
	.screen1 {height: 600px;}
	.ourStory {padding: 84px 0 98px;}
	.ourTeam {padding: 84px 0 48px;}
	.ourPartners {padding: 84px 0 38px;}
	.partnersItem {margin: 0 10px 50px;}
	.teamItemDesc {padding-top: 40px;}
	.teamItemDesc img {width: 150px;height: auto;margin-bottom: 30px;}
	.teamItemDesc p {width: 100%;}
	/* Blog */
	.blogWrap {padding-left: 1px;padding-right: 1px;}
	.blogArchiveItem {width: 314px;margin-bottom: 30px;}
	.contentLeft {width: 704px;}
	/* Contact */
	.wrapper.contactWrap {width: 770px;}

	/* Portfolio */
	.filterItem {width: 236px;margin-left: 20px;}
	.filterItem span {width: 236px;}
	.portfolioItemV1 {width: 314px;}
	.portfolioItemV1Desc {padding: 24px 30px 0 30px;}
	.portfolioItemV2Desc {padding: 18px 20px 0}
	.portfolioItemV2Desc h4 {line-height: 22px;margin-bottom: 26px; font-size: 16px;}
	.portfolioItemV2Desc h4:before {bottom: -14px;}
	.portfolioItemV2Desc p {line-height: 22px;}
	.portfolioItemV2Desc span, .portfolioItemV2SmallImg span {bottom: 20px;padding: 0 21px; } 
	.portfolioItemV2Desc span i, .portfolioItemV2SmallImg span i {right: 24px;}
	/*.portfolioItemV2Desc {width: 100%;}
	.portfolioItemV2 .portfolioItemV2Desc {border-bottom: 1px solid #ededed;}*/
	
	/* Service */
	.serviceItem {width: 312px;margin-left: 31px;}
	.serviceHead {height: 152px;}
	.serviceHead h4 {height: 152px;line-height: 152px;}
	.serviceDescItem {padding: 80px 0;}
	.serviceDescThumb {width: 487px;}
	.serviceDescText {width: 487px;line-height: 268px; min-height: 268px;}
	.serviceDescTextWrap {width: 487px;}
	.serviceWrap2 .serviceItem {width: 228px;margin-left: 28px;}
	.serviceWrap2 .serviceHead {height: 68px;}
	.serviceWrap2 .serviceHead h4 {height: 68px;line-height: 68px;}
	
	/* Single post */
	.relatedPostsItem {width: 221px;margin-left: 20px;}
	.commentList li.depth-2 .comment-body {padding-left: 40px;}
	.commentList li.depth-3 .comment-body {padding-left: 80px;}
	.commentList li.depth-4 .comment-body {padding-left: 140px;}
	.commentsForm .formInputWrap, .comment-form-author, .comment-form-email, .comment-form-url {width: 214px;margin-left: 31px;}
	.fullWidthPageWrap .comment-form-author, .fullWidthPageWrap .comment-form-email, .fullWidthPageWrap .comment-form-url {width: 314px;}
	.fullWidthPageWrap .comment-form-author, .commentsForm .formInputWrap:first-child, .comment-form-author {margin-left: 0;}
	.singlePost iframe:not(.suiframe) {height: 396px;}
	.singleProjectWrapv2 .singlePost iframe:not(.suiframe), .page-template-templ-fullwidth-php .singlePost iframe:not(.suiframe) {height: 565px;}

	/* Single project */
	.singleProjectWrapv2 .screen1 h1 {line-height: 60px;font-size: 40px;}

	.homeScreenDesc span {margin-bottom: 14px;}
	.homeScreenDesc h1 {line-height: 64px;font-size: 54px;margin-bottom: 20px;}
	
	.aboutUsDesc {padding: 40px 0 0 50px;}
	.aboutUsDesc h3 {line-height: 64px;font-size: 54px;}
	.learnMoreLink {padding: 0 70px 0 50px;}
	.homeOurLocation {width: 100%;height: 400px;}
	.homeContactInfo {position: relative;right: auto;top: auto;float: right; width: 100%;height: 600px;}
	.homeContactInfoWrap {top: 126px;}
	
}
@media only screen and (max-width: 1023px) {
	/* Home */
	body {min-width: 768px;}
	.wrapper, .ourTeam .wrapper, .ourPartners .wrapper, .portfolio-v1 .wrapper, .ourService .wrapper {width: 758px;}
	body.animated {left: -258px;}
	header {padding: 0 10px;}
	footer:not(.comment-meta) {padding: 0 10px;}
	.slideMeta {width: 692px;margin-left: -346px;}
	.slideMeta h3 {line-height: 38px;margin-bottom: 20px; font-size: 28px;}
	.homeSlider .bx-wrapper .bx-controls-direction a.bx-prev {left: 10px;}
	.homeSlider .bx-wrapper .bx-controls-direction a.bx-next {right: 10px;}
	
	.languageSelect {margin-left: 0px;margin-right: 42px;}
	.mainmenu {display: none;}
	.header2 .showMobileMenu {margin-top: 36px;}
	.header2.background--dark .showMobileMenu span {background: #fff;}
	.showMobileMenu {display: block;position: relative; float: right; width: 22px;height: 16px;margin: 22px 10px 0 0; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out; transition: .5s ease-in-out;}
	.showMobileMenu span {position: absolute; display: block;left: 0; height: 2px;width: 100%; background: #0b0b0b;opacity: 1;-webkit-transition: background 0.3s ease;-moz-transition: background 0.3s ease;-o-transition: background 0.3s ease;transition: background 0.3s ease; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg); transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
	.showMobileMenu span:nth-child(1) {top: 0px;}
	.showMobileMenu span:nth-child(2),.showMobileMenu span:nth-child(3) {top: 7px;}
	.showMobileMenu span:nth-child(4) {top: 14px;}
	.showMobileMenu.open span:nth-child(1) {top: 7px;width: 0%;left: 50%;}
	.showMobileMenu.open span:nth-child(2) {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
	.showMobileMenu.open span:nth-child(3) {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
	.showMobileMenu.open span:nth-child(4) {top: 7px;width: 0%;left: 50%;}

	body.animated .mobileMenu {right: 0;}
	.mobileMenu {display: block; position: fixed;top: 0;right: -258px;width: 257px;height: 100%;border-left: 1px solid #e8e8e8; background: #ededed;z-index: 0;-webkit-transition: right 0.6s ease;-moz-transition: right 0.6s ease;-o-transition: right 0.6s ease;transition: right 0.6s ease;}
	.mobileMenu ul {list-style: none;height: 100%;overflow: auto;}
	.mobileMenu ul li {display: block;-webkit-transition: background-color 0.3s ease;-moz-transition: background-color 0.3s ease;-o-transition: background-color 0.3s ease;transition: background-color 0.3s ease;}
	.mobileMenu ul li a, .mobileMenu ul li a:visited {display: block;line-height: 60px;padding: 0 22px;color: #787878;font-size: 12px;font-family: 'Montserrat', sans-serif;text-transform: uppercase;text-decoration: none;
	-webkit-transition: background-color 0.3s ease, color 0.3s ease;-moz-transition: background-color 0.3s ease, color 0.3s ease;-o-transition: background-color 0.3s ease, color 0.3s ease;transition: background-color 0.3s ease, color 0.3s ease;}
	.mobileMenu ul li.current-menu-item > a, .mobileMenu ul li a:hover {color: #0b0b0b;}
	.mobileMenu ul li.current-menu-item a, .mobileMenu ul li a:hover {background-color: #fff;}
	.mobileMenu ul li ul {display: block;}
	.mobileMenu > ul > li > ul {margin: 0px 0 0 0;padding-bottom: 20px;}
	.mobileMenu ul li.current-menu-item ul {display: block;}
	.mobileMenu ul li ul li a {line-height: 32px; padding-left: 42px;text-transform: none;}
	.mobileMenu ul li ul li.current-menu-item > a, .mobileMenu ul li.clicked > a, .mobileMenu ul li.clicked li.hasChild > a {color: #0b0b0b;}
	.mobileMenu ul li ul li ul li a {padding-left: 62px;}
	
	/* About */
	.screen1 {padding-top: 210px;}
	.ourStory {padding: 64px 0 78px;}
	.ourStory .wrapper {width: 758px;}
	.storyWrap .fcell, .storyWrap .scell {width: 364px;}
	.ourTeam {padding: 64px 0 28px;}
	.teamItemDesc p, .teamItemDesc div.teamItemDescText {padding: 0 40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
	.teamItemDesc {padding-bottom: 20px;}
	.ourPartners {padding: 64px 0 18px;}
	.instagramItem {width: 25%;}

	/* Blog */
	.blogWrap {padding-left: 0px;padding-right: 0px;}
	.blogArchiveItem {width: 364px;margin-bottom: 30px;}
	.contentLeft {width: 458px;}
	.blog2ArchiveItem h3 {line-height: 30px;}
	
	/* Contact */
	.wrapper.contactWrap {width: 758px;}
	.contactItem {margin-left: 124px;}
	.userEmail, .userName, .userNameBox, .userEmailBox {width: 364px;}
	
	/* Portfolio */
	.filterPanel {padding-bottom: 20px;}
	.filterItem {width: 240px;margin-left: 19px;margin-bottom: 10px;}
	.filterItem:nth-child(3n+1) {margin-left: 0;}
	.filterItem span {width: 240px;}

	.portfolioItemV1 {width: 364px;}

	.portfolioItemV2Desc {width: 100%;}
	.portfolioItemV2 .portfolioItemV2Desc {border-bottom: 1px solid #ededed;}
	.portfolioItemV3 {width: 50%;}
	.portfolioItemV3Desc h3 {padding: 0 20px;}

	.portfolioBlock .portfolioLeftWrapper {height: auto!important;}
	.page-template-templ-portfolio-one-php .portfolioItemV1Desc {background-color: rgba(11,11,11,0.4); opacity: 1!important;}

	/* Service */
	.serviceItem {width: 234px; margin-left: 25px;}
	.serviceHead {height: 114px;}
	.serviceHead h4 {height: 114px;line-height: 114px;}
	.serviceHead h4 span {padding: 0 10px;}
	.serviceDescThumb, .serviceDescTextWrap {width: 364px;}
	.serviceDescText {width: 364px;min-height: 200px;line-height: 200px;}
	.serviceDescText h4 {line-height: 26px;margin-bottom: 16px;}

	.orderServiceFormWrap {width: 640px; padding: 30px 20px 20px;}
	.orderServiceFormWrap .formInput {margin-bottom: 20px;}
	.orderServiceFormWrap .formTextarea {margin-bottom: 20px;}
	.orderServiceFormWrap .userName, .orderServiceFormWrap .userEmail {width: 310px;}
	.orderServiceFormWrap .userEmail {margin-left: 20px;}
	.fancyboxOrderServiceWrap .fancybox-close {right: -30px;}

	.serviceWrap2 .serviceItem {width: 270px;margin-left: 28px;}
	.serviceWrap2 .serviceItem:nth-child(4n+1) {margin-left: 28px;}
	.serviceWrap2 .serviceItem:nth-child(2n+1) {margin-left: 93px;}
	.serviceWrap2 .serviceHead {height: 80px;}
	.serviceWrap2 .serviceHead h4 {height: 80px;line-height: 80px;}

	/* Single post */
	.relatedPostsItem {width: 219px;margin-bottom: 26px;}
	.relatedPostsItem:nth-child(2n+1) {margin-left: 0;}

	.commentList li.depth-2 .comment-body {padding-left: 30px;}
	.commentList li.depth-3 .comment-body {padding-left: 60px;}
	.commentList li.depth-4 .comment-body {padding-left: 100px;}
	.commentsForm .formInputWrap, .comment-form-author, .comment-form-email, .comment-form-url {width: 458px;margin-left: 0;}
	.fullWidthPageWrap .comment-form-author, .fullWidthPageWrap .comment-form-email, .fullWidthPageWrap .comment-form-url {width: 243px;margin-left: 14px;}
	.fullWidthPageWrap .comment-form-author {margin-left: 0;}
	#commentform input[type="text"], #commentform textarea {margin-bottom: 14px;}
	.singlePost iframe:not(.suiframe) {height: 258px;} 
	.singleProjectWrapv2 .singlePost iframe:not(.suiframe), .page-template-templ-fullwidth-php .singlePost iframe:not(.suiframe) {height: 426px;}

	/* Single project */
	.singleProjectGallery {width: 100%;}
	.singleProjectDesc {width: 100%;padding: 44px 50px;}
	.singleProjectDesc h1, .singleProjectDescText {text-align: center;}
	.singleProjectDescText {margin: 0 auto 40px;}
	.singleProjectWrap {height: auto!important;}
	.singleProjectGallerySlider ul li {height: 400px!important;}
	.singleProjectGallerySlider .bx-wrapper .bx-controls-direction a {opacity: 1;}
	.singleProjectGallerySlider .bx-wrapper .bx-controls-direction a.bx-prev {left: 10px;}
	.singleProjectGallerySlider .bx-wrapper .bx-controls-direction a.bx-next {right: 10px;}
	.fullScreen {display: none!important;}
	.backToPortfolio {right: 20px;}
	.singleProjectDescWrap {text-align: center;}
	.singleProjectDescItem {padding: 0 20px;}
	.singleProjectDescItem:first-child, .singleProjectDescItem:last-child {min-width: 100px;}

	/* Single custom project */
	.singleProjectWrapv2 .screen1 h1 {line-height: 50px;}

	.homeScreenDesc {padding: 0 50px;}
	.homeScreenDesc h1 {line-height: 50px;font-size: 40px;} 
	.aboutUsBlock {padding-bottom: 50%;}
	.ourServiceItemContent p {padding: 0 20px;}
	.aboutUsImg {width: 100%;}
	.aboutUsDesc {width: 100%;height: 33.3333%;padding: 30px 0 0 40px;top: auto;bottom: 0;border-bottom: 1px solid #ededed; background: #fff;}
	.aboutUsDesc p {padding-right: 50px;}
	.aboutUsDesc h3 {line-height: 50px;font-size: 40px;}
	.learnMoreLink {bottom: 30px;padding: 0 50px 0 40px;}
	.testimonialItem {width: 500px;}

	.loaderWrap {display: none!important;}
	
}
@media only screen and (max-width: 767px) {
	body {min-width: 480px;}
	.wrapper, .ourTeam .wrapper, .ourPartners .wrapper, .portfolio-v1 .wrapper, .ourStory .wrapper, .storyWrap .fcell, .storyWrap .scell, .ourService .wrapper {width: 470px;}
	.slideMeta {width: 394px;margin-left: -197px;}
	.slideMeta h3 {line-height: 30px;margin-bottom: 14px; font-size: 20px;}

	/* About */
	.screen1 {height: 500px;padding-top: 170px;}
	.singleProjectWrapv2 .screen1 {height: 400px;padding-top: 140px;}
	.screen1 h2 {line-height: 40px;font-size: 28px;}
	.screen1 p {line-height: 30px; font-size: 22px;}
	.screen1 p br {display: none;}
	.storyWrap .fcell {margin-bottom: 20px;}
	.ourStory {padding: 54px 0 58px;}
	.ourStory .blockTitle {margin-bottom: 44px;}
	.ourTeam {padding: 54px 0 28px; }
	.ourTeam .blockTitle {margin-bottom: 54px;}
	.teamItem {width: 200px;}
	.teamItemDesc p, .teamItemDesc div.teamItemDescText {padding: 0 25px;}
	.teamItemDescWrap {padding: 0;width: 440px;}
	.partnersItem {width: 200px;}
	.instagramItem {width: 33.3333%;}

	/* Blog */
	.blogArchiveItem {width: 100%;}
	.contentLeft {width: 100%;}
	.sidebarRight {width: 100%;}
	.pagination {padding-bottom: 50px;}

	/* Contact */
	.wrapper.contactWrap {width: 470px;}
	.contactForm {padding-bottom: 50px;}
	.contactItem {width: 150px;margin-left: 10px;}
	.userEmail, .userName, .userNameBox, .userEmailBox {width: 100%;margin-left: 0;}
	.formInput, .formTextarea {margin-bottom: 14px;}
	.ourLocation, .ourLocation .map {height: 200px;}

	/* Portfolio */
	.filterItem {width: 225px;margin-left: 20px;}
	.filterItem span {width: 225px;}
	.filterItem:nth-child(3n+1) {margin-left: 20px;}
	.filterItem:nth-child(2n+1) {margin-left: 0;}
	.portfolioItemV1 {width: 100%;}

	.portfolioItemV2 {float: none; width: 100%;}
	.portfolioItemV2 .portfolioItemV2Desc {width: 50%;}
	.portfolioRightWrapper, .portfolioLeftWrapper {float: none;width: 100%;}

	.portfolioItemV2Small .portfolioItemV2Desc {width: 50%;}
	.portfolioItemV3 {width: 100%;}

	/* Service */
	.ourService {padding-top: 118px;}
	.ourService .blockTitle {margin-bottom: 44px;}
	.serviceItem {width: 370px;margin-left: 49px!important;}
	.serviceHead {height: 180px;}
	.serviceHead h4 {height: 180px;line-height: 180px;}
	.serviceDescItem {padding: 40px 0 30px;}
	.serviceDescThumb {width: 470px;margin-bottom: 20px;}
	.serviceDescText {width: 470px;min-height: 0;line-height: 0;}
	.serviceDescTextWrap {width: 470px;}
	.serviceDescItem.rightOrientation .serviceDescText h4, .serviceDescItem.rightOrientation .serviceDescText p {text-align: left;}
	.serviceWrap2 .serviceItem {width: 225px;margin-left: 16px!important;margin-bottom: 16px;}
	.serviceWrap2 .serviceItem:nth-child(2n+1), .serviceWrap2 .serviceItem:nth-child(4n+1) {margin-left: 0!important;}
	.serviceWrap2 .serviceHead {height: 67px;}
	.serviceWrap2 .serviceHead h4 {height: 67px;line-height: 67px;}
	.serviceWrap2 .serviceHead h4 span {padding: 0 10px;}

	/* Service order form */
	.orderServiceFormWrap {width: 400px;}
	.orderServiceFormWrap .blockTitle {margin-bottom: 10px;}
	.orderServiceFormWrap p {margin-bottom: 20px;}
	.fancyboxOrderServiceWrap .fancybox-close {top: 13px; right: 10px;}
	.orderServiceFormWrap .userName, .orderServiceFormWrap .userEmail {width: 100%;margin-left: 0;}
	.orderServiceFormWrap .formInput, .orderServiceFormWrap .formTextarea {margin-bottom: 14px;}

	/* Single post */
	.relatedPostsItem {width: 225px;}
	.commentsForm .formInputWrap, .comment-form-author, .comment-form-email, .comment-form-url {width: 100%;}
	.fullWidthPageWrap .comment-form-author, .fullWidthPageWrap .comment-form-email, .fullWidthPageWrap .comment-form-url {width: 100%;margin-left: 0;}
	.singleProjectWrapv2 .singlePost iframe:not(.suiframe), .page-template-templ-fullwidth-php .singlePost iframe:not(.suiframe), .singlePost iframe:not(.suiframe) {height: 264px;} 


	.parsley-errors-list {bottom: 2px;}

	/* Single custom project */
	.singleProjectWrapv2 .screen1 h1 {line-height: 40px;font-size: 30px;}

	/* Archive */
	.archive .blockTitle + p {width: 100%;margin-bottom: 44px;}
	.archive .blockTitle {padding-top: 118px;}

	.homeScreenDesc {padding: 0 20px;}
	.homeScreenDesc h1 {line-height: 40px;font-size: 30px;}  
	.languageSelect {margin-left: 20px;}
	.header2 .languageSelect {margin-top: 36px;}
	.aboutUsBlock {padding-bottom: 100%;}
	.aboutUsDesc {height: 50%;}
	.ourServiceItem {width: 100%;}
	.ourServiceItem img {opacity: 1;}
	.ourServiceItem .overlay {background: rgba(0,0,0,0.6);}
	.ourServiceItem .ourServiceItemContent p,
	.ourServiceItem .ourServiceItemContent h4,
	.ourServiceItem .ourServiceItemContent span {color: #fff;}
	.testimonialItem {width: 300px;}
	.testimonialsWrap .bx-wrapper .bx-controls-direction a.bx-prev {left: 20px;}
	.testimonialsWrap .bx-wrapper .bx-controls-direction a.bx-next {right: 20px;}
	.ourClientItem {width: 50%;}
	.homeContactInfoWrap .contactItem {margin: 0!important;}

}
@media only screen and (max-width: 479px) {
	body {min-width: 320px;}
	.wrapper, .ourTeam .wrapper, .ourPartners .wrapper, .portfolio-v1 .wrapper, .ourStory .wrapper, .storyWrap .fcell, .storyWrap .scell, .ourService .wrapper {width: 310px;}
	.slideMeta {width: 244px;margin-left: -122px;}
	.slideMeta h3 {line-height: 20px;margin-bottom: 10px; font-size: 14px;}
	.btn-seeAll {width: 120px;height: 36px;line-height: 36px; margin-bottom: 10px;}
	.btn-seeMore {width: 120px;height: 36px;line-height: 32px;}

	/* 404 */
	.page404Content {width: 310px;margin-left: -155px;}
	.page404Content h1 {width: 90px;font-size: 40px;}

	/* About */
	.screen1 {height: 400px;padding-top: 80px;}
	.screen1 h2 {line-height: 32px; font-size: 22px;}
	.screen1 p {line-height: 28px;font-size: 18px;}
	.teamItem {width: 280px;}
	.teamItemDescWrap {width: 280px;}
	.blockTitle {line-height: 30px;}
	.instagramItem {width: 50%;}
	.pagination ul li {margin: 0 2px 10px;}
	.pagination ul li.prevPage a {padding-left: 14px;}
	.pagination ul li.nextPage a {padding-right: 14px;}

	/* Blog */
	.blog2ArchiveItem .archiveItemThumb {margin-bottom: 24px;}
	.blog2ArchiveItem h3 a {font-size: 26px;}

	/* Contact */
	.wrapper.contactWrap {width: 310px;}
	.contactInfo {padding-top: 48px;margin-bottom: 68px;}
	.contactItem {width: 100%;margin-bottom: 30px;margin-left: 0!important;}
	.contactForm p, .orderServiceFormWrap p {line-height: 24px;margin-bottom: 40px;}

	/* Portfolio */
	.filterItem {width: 100%;margin-left: 0!important;}
	.filterItem span {width: 100%;}
	.portfolioItemV2 {padding-bottom: 50%;}
	.portfolioItemV2 .portfolioItemV2Desc {width: 100%;height: 50%;}
	.portfolioItemV2Small {padding-bottom: 50%;}
	.portfolioItemV2Small img {width: 100%;}
	.portfolioRightWrapper .portfolioItemV2Small .portfolioItemV2Desc {width: 100%; height: 50%;}
	.portfolioLeftWrapper .portfolioItemV2Small .portfolioItemV2Desc {width: 100%; height: 50%;}
	.portfolioItemOne .portfolioItemV2Desc, .portfolioItemTwo .portfolioItemV2Desc, .portfolioItemThree .portfolioItemV2Desc, .portfolioItemFour .portfolioItemV2Desc,
    .page-template-templ-portfolio-five-php .portfolioItemV2 .portfolioItemV2Desc {top: auto; bottom: 0!important;}

	/* Service */
	.serviceItem {width: 308px;margin-left: 0!important;}
	.serviceHead {height: 150px;}
	.serviceHead h4 {height: 150px;line-height: 150px;}
	.serviceDescThumb, .serviceDescText, .serviceDescTextWrap {width: 100%;}

	.orderServiceFormWrap {width: 260px; padding: 20px 10px 10px;overflow: hidden;}
	.orderServiceFormWrap .blockTitle {font-size: 18px;margin-bottom: 6px;}
	.orderServiceFormWrap p {line-height: 22px;font-size: 14px;margin-bottom: 20px;}
	.formInput {padding: 0 12px;}
	.formTextarea {padding-left: 12px;}
	.serviceWrap2 .serviceItem {width: 308px;margin-left: 0!important;}
	.serviceWrap2 .serviceHead {height: 91px;}
	.serviceWrap2 .serviceHead h4 {height: 91px;line-height: 91px;}

	/* Single blog */
	.singlePostImg {margin-bottom: 24px;}
	.singlePost h1, .singlePost h1 a {font-size: 26px;}
	.singlePost blockquote {margin-left: 10px;}
	.singleProjectWrapv2 .singlePost iframe:not(.suiframe), .page-template-templ-fullwidth-php .singlePost iframe:not(.suiframe), .singlePost iframe:not(.suiframe) {height: 174px;}  
	.relatedPostsItem {width: 100%;margin-left: 0;}
	.postShareLinks a {margin: 0 4px;}
	.postPrev {padding-left: 14px;}
	.postNext {padding-right: 14px;}

	.commentList li.depth-2 .comment-body {padding-left: 20px;}
	.commentList li.depth-3 .comment-body {padding-left: 40px;}
	.commentList li.depth-4 .comment-body {padding-left: 60px;}

	/* Single project */
	.singleProjectDesc {padding: 30px 16px 40px;}
	.singleProjectDescItem {padding: 0 10px;}
	.singleProjectDescItem:first-child, .singleProjectDescItem:last-child {min-width: 80px;padding: 0 5px;}
	.singleProjectDescItem:nth-child(2) {width: 100px;padding: 0 5px;}
	.projectGalleryThumb {display: none;}
	.singleProjectDescText {width: 280px;}

	.homeScreenDesc {padding: 0 10px;}
	.homeScreenDesc h1 {line-height: 34px;left: 0; font-size: 24px;}
	.aboutUsDesc {padding: 18px 0 0 20px;}
	.aboutUsDesc h3 {line-height: 22px;margin-bottom: 26px;font-size: 16px;}
	.aboutUsDesc h3:before {bottom: -14px;}
	.aboutUsDesc p {line-height: 22px;padding-right: 40px; font-size: 15px;}
	.learnMoreLink {padding: 0 40px 0 20px;}
	.learnMoreLink i {right: 40px;}
	.homeContactInfoWrap {top: 60px;}
}
