/*
    Theme Name: Bauhaus Child
    Theme URI: http://highseastudio.com/demo/bauhaus
    Description: Bauhaus premium theme
    Author: HighSeaStudio
    Author URI: http://highseastudio.com/
    Version: 1.3.4
    TextDomain: bauhaus
    Template: bauhaus
	License: GNU General Public License v3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.txt
*/
/*
    Please, feel free to add your custom styles here
*/

/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, select, textarea {
	font-family: 'Montserrat', 'Open Sans', sans-serif !important;
}

.contat-insert {
    display:  flex;
    margin-bottom:  20px;
    font-size:  13px;
    color: #8d7979;
}

.contat-insert > div {
    width: 49% !important;
}

.testimonialItem {
	width: 630px !important; 
}

.contactWrap {
    width: 900px;
}

.contactItem {
    width: 210px;
}

.teamItem h4 {
    background-color: #f7f7f7;
    padding: 10px 0;
    /* box-shadow: 2px 2px 5px 1px #c5c5c538; */
}